*{
    margin: 0;
}

body{
    overflow: hidden;
    color: #444;
}

h1{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
}

#scene-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
}